/*****************************************************************************/
/* Common
/*****************************************************************************/

html, body { height: 100%; }

body {
  font-size: 14px;
  line-height: 22px;
  font-family: "adelle", Georgia, "Times New Roman", serif;
  color: #4e443c;
  background: #f0efe7 url(/images/body.jpg);
}

h1, h2, h3, h4, h5, h6 { font-size: 100%; }

h1 { margin-bottom: 1em; }
p { margin: 1em 0; }


table {
  font-size: inherit;
  font: 100%;
}

a {
  color: #1b75a3;
}


/*****************************************************************************/
/* Site
/*****************************************************************************/

.container{
  display: block;
}

.site {
  width: 900px;
  margin: auto;
  display: block;
}

.site .header {

}

.site .core {
  display: inline-block;
}

.site .core .menu {
  width: 200px;
  display: block;
  float: left;
  padding-top: 20px;
}
.site .core .content {
  display: block;
  float: left;
  width: 680px;
}

.site .footer {
  display: block;
  overflow: hidden;
}

.navigation {
  display: inline;
}

.navigation .title {
  float: left;
  display: block;
  font-size: 24px;
  padding-top: 14px;
  padding-bottom: 10px;
}

.navigation .github {
  float: right;
  display: block;
  margin-top: 40px;
  font-size: 18px;
  font-weight: bold;
}

.pictos {
  font-family: 'Pictos';
  color: #D2D2D2;
  font-weight: normal;
  font-size: 20px;
  text-shadow: 0 1px 1px white;
  padding: 0 8px 0 0; }

.nav-header {
  margin-top: 20px;
}

.nav-level-one {
  padding-left: 10px;
}

.nav-level-two {
  padding-left: 20px;
}


/*****************************************************************************/
/* Menu
/*****************************************************************************/
.menu ul {
  position: relative;
  list-style-type:none;
  padding: 0;
  margin: 0;
}
.menu li {
  padding-left: 10px;
}

ul#menuItems {
  margin-left: -10px;
}

.menu ul>li {
  font-size: 120%;
}

.menu ul>li>ul>li {
  font-size: 100%;
}

.menu ul>li>ul>li>ul>li{
  font-size: 80%;
}

.arrow_closed {
  display: inline-block;
  height: 16px;
  width: 16px;
  line-height: 16px;
  vertical-align: middle;
  content: "";
  background: url("../images/triangles.png") no-repeat;
  background-position: 0 0px;
  cursor: pointer;
}

.arrow_opened {
  display: inline-block;
  background-position: 0 -16px;
}

/*****************************************************************************/
/* Content
/*****************************************************************************/

.content {
  margin-left: 10px;
}

.content p {
  padding-left: 10px;
}

.content h1 {
  font-size: 200%;
}

.content h2 {
  font-size: 150%;
}
